install/__pycache__/__init__.cpython-313.pyc
install/__pycache__/laya.cpython-313.pyc
install/__pycache__/node.cpython-313.pyc
install/__pycache__/npm.cpython-313.pyc
install/__pycache__/popxcmd.cpython-313.pyc
